<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="kingfisher"/>

    <node name="agile_pilot_node" pkg="envtest" type="run_competition.py" output="screen">
        <param name="vision_based" value="False"/>
        <param name="ppo_path" value="/saved/PPO_20"/>
        <param name="iter_num" type="str" value="00850"/>
    </node>
    

</launch>
